
.banner {
  width: 100%;
  height: 40vh;
  min-height: 320px;
  max-height: 420px;

  background-image: url('/assets/image-004.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 260px;
    min-height: 260px;
    max-height: none;

    background-image: url('/assets/image-004-mobile.jpg');
  }
}
