.banner {
  height: 320px;
  min-height: 270px;
  max-height: 350px;
  position: relative;
  overflow: hidden;
}

.banner > div:first-child {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner {
    height: 240px;
    min-height: 220px;
    max-height: 240px;
  }
}
