.banner {
  width: 100%;
  min-height: 600px;
  margin-bottom: 80px;

  background-image: url('/assets/image-004.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 420px;
    margin-bottom: 60px;

    background-image: url('/assets/image-004-mobile.jpg');
  }
}
